body{
	background-color: black;
	background-image: url("1.jpg");
	background-size: cover;
}
div{
	position: relative;
	/*定位*/
}
img{
	height: 100px;
	width: 100px;
	/*高度最后一致*/
	display: block;
	margin: auto;
	/*居中*/
	border-radius: 50%;
}
p{
	text-align: center;
	font-size: 20px;
}
#container{
    background-color: white;
    opacity: 60%;
    /*背景颜色与透明度*/
    height: 500px;
    width: 500px;

    margin: auto;
    top: 100px；
    /*居中 距离上方100px*/
    border-radius: 50px;
}
#title p{
	font-size: 40px;
	/*字体大小*/
}